


<ul class="navbar-nav my-2 my-lg-0">

    @if (Request.IsAuthenticated)
    {
        //kullanıcı adı ve logout simgesi göster
        <li class="nav-item active">
            <a class="nav-link" style="color: #4f311d;"href="/Account" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Siparişlerim">@User.Identity.Name</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" style="color: #4f311d;"href="/Account/Logout">Çıkış Yap</a>
        </li>
    }
    else
    {
        //login ve register çıkart
        <li class="nav-item active">
            <a class="nav-link" style="color: #4f311d;"href="/Account/Login">Giriş Yap</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" style="color: #4f311d;"href="/Account/Register">Kayıt Ol</a>
        </li>
    }

</ul>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    });
</script>