@model E_CommerceAppMVC.Models.Cart

<style>
    #cart {
        color:whitesmoke;
    }
</style>

<ul class="navbar-nav my-2 my-lg-0">
    <li id="cart" class="nav-item">
        <a class="nav-link" style="color: #4f311d;" href="/Cart">
            <img src="https://cdn-icons-png.flaticon.com/128/428/428173.png" loading="lazy" alt="Shopping cart " title="Shopping cart " width="14" height="14">
            (@Model.CartLines.Count)
        </a>
        
    </li>


</ul>
